<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Social Accounts - React Bootstrap Example</title>
    <link href="css/app.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id='social-accounts'> </div>
  <script type="application/javascript" src="build.js"></script>
</body>
</html>
